<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>ERROR - 404</h1>
			<h1>Something went wrong!</h1>
			
		</div>
	</div>
		
	<div class="container text-center">

		<div>
			<h3> <a th:href="@{/index}">חזרה לדף הבית</a></h3>
		</div>
		
	</div>
</body>
</html>