<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>דף הבית</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style = "background-color:LightGray">
	<div class="container text-center">
		<div>
		    <h1 style="color:red">ברוך הבא לאתר הכי טוב בתבל</h1>
			<h6>אל תמליצו לחברים שלכם לבוא לפה בבקשה</h6>
		</div>
	</div>
		
	<div class="container text-right">
		<!-- links to other pages -->
		<div>
			<h3> <a th:href="@{/list_users}">רשימת כל המשתמשים</a></h3>
			<h3> <a th:href="@{/register}">הרשמה</a></h3>
			<h3> <a th:href="@{/login}">התחבר</a></h3>
			<h3> <a th:href="@{/test}">Testing</a></h3>
		</div>
		
	</div>
</body>
</html>