<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>דף הבית</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
 	<style>    
  		h1 {
 			 color: blue;
 		 	font-family: verdana;
  			font-size: 450%;
			}
			
		p  {
  			color: red;
  			font-family: verdana;
  			font-size: 160%;
  			border: 3px solid black;
			}
	</style>  

</head>
<body style = "background-color:LightGray">
	<div class="container text-center">
		<div> 
		    <h1>ברוכים הבאים לאתר הכי טוב בתבל</h1>
			<p>אל תמליצו לחברים שלכם לבוא לפה בבקשה</p>
		</div>
	</div>
		<hr>
	<div class="container text-right">
		<!-- links to other pages -->
		<div>
			<h3> <a th:href="@{/list_users}">רשימת כל המשתמשים</a></h3>
			<hr>
			<h3> <a th:href="@{/register}">הרשמה</a></h3>
			<hr>
			<h3> <a th:href="@{/login}">התחבר</a></h3>
			<hr>
			<h3> <a th:href="@{/test}">Testing</a></h3>
			<hr>
		</div>
		
	</div>
</body>
</html>