<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>הרשמה הושלמה </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>!הרשמה בוצעה בהצלחה</h1>
			<h4><a th:href="@{/index}">חזרה לדף הבית</a> ||---|| <a th:href="@{/index}">התחבר</a></h4>
		</div>
	</div>	
</body>
</html>