<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>הרשמה</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
	label{
		font-size: 15px;
		line-height: 19px;
		font-weight: 700;
	}
  	h1 {
 		 color: blue;
  		font-size: 450%;
		}
		
	.invalid-feedback{
	font-size:14px;
	font-weight: 600;
	text-align:right;
	}
	
</style>



<body>
	<div class="container text-center">
		<div>
			<h1>הרשמה</h1>
		</div>
	</div>
		
	<div class="container text-right">
		<div>
		<!-- Using form to specify our actions - url process 
		th:action - our action
		th:object - Our model-->
		<!-- <form th:action = "@{/process_register}" method = "post" -->
			<form th:action = "@{/register}" method = "post"
			style ="max-width:600px; margin: 0 auto;"
			th:object = "${user}">
				<div class ="m-3">
										<!-- Username -->
					<div class= "form-group row">
						
						<div class="col-8">
							<input type="text" class="form-control"  th:field="*{username}" required
							minlength="4" maxlength="15" th:errorClass="is-invalid"/>
							<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>
						<!-- <Label class = "col-form Label col-4">שם משתמש</Label> -->
						<label class = "col-form Label col-4">שם משתמש</label>
					</div>
										<!-- Password -->
					<div class= "form-group row">
						
						<div class="col-8">
							<input type="password" class="form-control"  th:field="*{password}" required
							minlength="8" maxlength="60" th:errorClass="is-invalid"/>
						</div>
						<Label class = "col-form Label col-4">סיסמה</Label>
					</div>
										<!-- First Name -->
					<div class= "form-group row">
						
						<div class="col-8">
							<input type="text" class="form-control"  th:field="*{firstName}" required
							minlength="1" maxlength="15" th:errorClass="is-invalid"/>
						</div>
						<Label class = "col-form Label col-4">שם פרטי</Label>
					</div>
										<!-- last name-->
										
					<div class= "form-group row">
						
						<div class="col-8">
							<input type="text" class="form-control"  th:field="*{lastName}" required
							minlength="1" maxlength="15" th:errorClass="is-invalid"/>
						</div>
						<Label class = "col-form Label col-4">שם משפחה</Label>
					</div>
										<!-- Email -->
					<div class= "form-group row">
						
						<div class="col-8">
							<input type="email" class="form-control"  th:field="*{email}" required
							minlength="1" maxlength="64" th:errorClass="is-invalid"/>
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
						</div>
						<Label class = "col-form Label col-4">אימייל</Label>
					</div>
					
					<!-- sumbit button -->
					<!-- <div class="container text-left"> -->
					<div class="from-row py-1">
						<button type="sumbit" class = "btn btn-primary">הרשמה</button>
					</div>
				</div>
			</form>
			<p class="container text-center"> כבר יש לך חשבון?  &nbsp; <a href="/login">לחץ כאן כדי להתחבר</a></p>
		</div>
		
	</div>
</body>
</html>